/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 450;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100dvh;
    background: url('/Back.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* Optional: makes image stay in place on scroll */
}

/* Colors */
:root {
    --date: rgba(0, 0, 0, 0.377);
}


/* Upper */
.upper {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* Wrapper */
.nav {
    position: relative;
    /* Make it the positioning context */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 5em;
}


/* Name Text */
.ayush,
.name {
    position: fixed;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 6em;
}

/* Links */
.links {
    position: fixed;
    display: flex;
    gap: 1em;
    font-size: 1.3em;
    color: rgb(104, 104, 233);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 13em;
    padding-bottom: 5em;
}



/* content */
.content li {
    padding: .5em 0;
    font-size: 1.2em;
}

.content li a {
    font-size: 1.5em;
    padding: .4em 1em;
    background-color: rebeccapurple;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50vh; /* Push projects lower on the page */
    position: relative;
    left: 10em;
}

.content a {
    display: flex;
    gap: 2em;
}

.date {
    color: var(--date);
}



@media (max-width: 450px) {

    
}