/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 450;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
}

/* Colors */
:root {
    --background-color: white;
}

/* Wrapper */
.nav {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* stack vertically */
    justify-content: center;
    /* vertical center */
    align-items: flex-start;
    /* horizontal center */
    text-align: left;
    padding-left: 5em;
}

/* Name Text */
.ayush,
.name {
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: .6em;
}

/* Links */
.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.3em;
    color: rgb(104, 104, 233);
    flex-wrap: wrap;
    justify-content: center;
}



@media (max-width: 450px) {
    .nav {
        padding: 7em 2em;
        display: flex;
        justify-content: flex-start;
    }

    .ayush,
    .name {
        font-size: 1.8em;
        text-align: left;
        margin-bottom: 1em;
    }

    .links {
        flex-direction: column;
        gap: 0.8em;
        font-size: 1em;
        align-items: flex-start;
        text-align: left;
    }
}