/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 450;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}



/* Colors */
:root {
    --date: rgba(0, 0, 0, 0.377);
    --ayush: rgb(255, 255, 255);
    --freeepik: rgb(38, 38, 38);
    --links: rgb(97, 97, 189);
    --links-hover: rgb(15, 15, 114);
    --projects-background: rgb(212, 232, 234);
    --projects-background-shadow: rgba(0, 0, 0, 0.331);
    --projects-color: rgb(250, 241, 241);
}


@media (min-width: 1100px) {

    body {
        background-image: url('/v.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        background-attachment: fixed;
    }

    /* Upper */
    .upper {
        display: flex;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    /* Wrapper */
    .nav {
        position: relative;
        /* Make it the positioning context */
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-left: clamp(5em, 4vw, 2em);
    }


    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: .5em;
        color: var(--freeepik);
        bottom: 1em;
        left: 1em;
    }

    /* Name Text */
    .ayush,
    .name {
        position: fixed;
        font-size: clamp(2.2em, 3vw, 4em);
        font-weight: 700;
        margin-bottom: 6em;
        color: var(--ayush);
    }

    /* Links */
    .links {
        position: fixed;
        display: flex;
        gap: 1em;
        font-size: clamp(1.3em, 1.4vw, 2em);
        color: var(--links);
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 13em;
        padding-bottom: 5em;
    }

    .links a:hover {
        color: var(--links-hover);
        transition: 0.06s ease-in-out;
    }



    /* content */
    .content li {
        padding: .5em 0;
        font-size: clamp(1.2em, 1.4vw, 1.5em);
    }

    .content li a {
        font-size: clamp(1.5em, 2vw, 3em);
        padding: .4em 1em;
        background-color: var(--projects-background);
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
    }

    .content li a:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px 0 var(--projects-background-shadow), 0 1.5px 4px 0 rgba(0, 0, 0, 0.12);
        transition: transform 0.2s ease-in-out;
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 35vh;
        /* Push projects lower on the page */
        position: relative;
        left: 10em;
    }

    .content a {
        display: flex;
        gap: 2em;
    }

    .date {
        color: var(--date);
    }

}

@media (max-width: 1100px) {


    body {
        background-image: url('/v.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;
    }

    /* Name */
    .name a {
        display: flex;
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: clamp(2.5em, 2vw, 3em);
        color: var(--ayush);
    }

    .links {
        display: flex;
        gap: 1em;
        font-size: clamp(.7em, 2vw, 3em);
        padding-left: 3.6em;
        padding-top: 1em;
        color: var(--links);
    }

    /* content */
    .content li {
        padding: 1em 0;
        font-size: clamp(.8em, 1.4vw, 1.5em);
    }

    .content li a {
        font-size: clamp(1.3em, 2vw, 3em);
        padding: 1em .8em;
        background-color: var(--projects-background);
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
    }




    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6em;
        padding-bottom: 3em;
        /* Push projects lower on the page */
    }

    .content a {
        display: flex;
        gap: 2em;
    }

    .footer{
        display: flex;
        font-size: clamp(.5em, 1.4vw, 1.5em);
        justify-content: center;
        color: var(--freeepik);
        position: relative;
        bottom: 2em;
    }

}